In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.model_selection import train_test_split
import sklearn.preprocessing

import wrangle as w

In [4]:
df= w.get_data()

In [5]:
df = w.clean_zillow()

826 outliers removed from area_sqft.
936 outliers removed from bathrooms.
482 outliers removed from bedroom.
0 outliers removed from pool.
25 outliers removed from year.
839 outliers removed from property_value.
0 outliers removed from full_bath.

Total of 3108 outliers removed.

In [ ]:
df

In [ ]:
df.describe()

In [ ]:
df.head()

In [ ]:
w.get_numeric_cols(df)

In [ ]:
w.get_object_cols(df)

In [ ]:
# check for nulls
df.isnull().sum()

In [ ]:
# the column pool has nan if the home does not have a pool will replace with a 0 

df[df.pool.isnull()]
df["pool"]= df.pool.replace(np.nan,0)

In [ ]:
# the column garage has nan if the home does not have a pool will replace with a 0 
df[df.garage.isnull()]
df["garage"]= df.garage.replace(np.nan,0)

In [ ]:
# the column year has nan will drop nulls from year, area_sqft, and taxvaluedollarcount so it's less likely to skew data 
df = df.dropna(subset=['year', 'area_sqft', 'property_value'])

In [ ]:
w.plot_boxplot(df)

In [ ]:
w.plot_histograms(df)

In [ ]:
# new size
df.shape

# split data

In [ ]:
train, validate, test = w.split_data(df)

# scaling

In [ ]:
# split into x and y  
target = "property_value"
x_train, x_validate, x_test  = train[['area_sqft', 'bathrooms', 'bedroom', 'garage', 'year']], validate[['area_sqft', 'bathrooms', 'bedroom', 'garage', 'year']], test[['area_sqft', 'bathrooms', 'bedroom', 'garage', 'year']]
y_train, y_validate, y_test = train[target], validate[target], test[target]

In [ ]:
x_train_scaled, x_validate_scaled, x_test_scaled = w.mm_scale(x_train, x_validate, x_test)